body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@keyframes page-bg-anim {
    from {
        background-color: rgb(255, 209, 153);
    }

    to {
        background-color: rgb(190, 221, 226);
    }
}

body {
    animation: page-bg-anim ease-in-out alternate infinite 20s;
}

@keyframes topbar-animation {
    0% {
        --color: #ff8113;
        text-shadow: 0 0 10px var(--color);
        color: var(--color);
    }

    25% {
        --color: #f39544;
        text-shadow: 0 0 10px var(--color);
        color: var(--color);
    }

    50% {
        --color: rgb(255, 178, 107);
        text-shadow: 0 0 10px var(--color);
        color: var(--color);
    }

    75% {
        --color: rgb(255, 220, 188);
        text-shadow: 0 0 10px var(--color);
        color: var(--color);
    }

    100% {
        --color: #ffffff;
        text-shadow: 0 0 10px var(--color);
        color: var(--color);
    }
}

header {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    height: 8vh;

    >h1 {
        width: 100%;
        margin: 0;
        text-align: center;
        color: white;
        border-radius: 1%;

        >a {
            animation: topbar-animation alternate 3s infinite;
            text-decoration: none;

            :visited {
                color: white;
            }
        }
    }

    >button {
        width: min-content;
    }
}

:root {
    /* Color palette */
    --bg: #ebebeb;
    --primary: #19353f;
    --secondary: #eddea4;
    --accent: #ff9b42;
    --accent-light: #f7a072;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    padding: 10px;
}