main {
    display: grid;
    justify-content: center;
}

h1 {
    text-align: center;
}

img {
    max-width: 55vw;
    height: auto;
}

pre {
    padding: 8px;
    border-radius: 5px;
}

section {
    width: 60vw;
    background-color: whitesmoke;
    padding: 2vh 5vw 2vh 5vw;
    margin-top: 10px;
    border-radius: 5px;
    text-align: justify;
}

aside {
    width: 10vw;
}

.post-page {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}