img {
    max-width: 80vw;
    height: auto;
}

pre {
    padding: 8px;
    border-radius: 5px;
}

section {
    background-color: whitesmoke;
    padding: 2vh 5vw 2vh 5vw;
    margin-top: 10px;
    border-radius: 5px;
    text-align: justify;
}