---
import { getTagsList } from '../../util/tagUtil'
import Layout from '../../layouts/Layout.astro';
import type MetaTags from '../../util/MetaTags';

export async function getStaticPaths() {
  const tags = await getTagsList();
  console.log("tags:", tags)
  return tags.map((i) => {
    return {
      params: {
        tag: i,
      },
    };
  });
}

const { tag } = Astro.params;
const metaTags: MetaTags = {
  title: "Tag - " + tag,
  description: "Posts with the tag " + tag,
  keywords: ['blog', 'posts', 'tag', tag]
}
---

<Layout title={metaTags.title} metaTags={metaTags}>

<h1>Tag: {tag}</h1>

</Layout>