---
import Archive from "../components/index/Archive.astro";
import Carousel from "../components/index/Carousel.astro";
import TagsList from "../components/index/TagsList.astro";
import Layout from "../layouts/Layout.astro";
import type MetaTags from "../util/MetaTags";

const metaTags: MetaTags = {
  description: "",
  keywords: [],
};
---

<Layout title="Mario's code chronicles" metaTags={metaTags}>
  <main
    class="grid lg:grid-cols-[1fr_5fr_1fr] lg:grid-flow-row gap-2 justify-center m-10"
  >
    <section class="lg:order-2"><Carousel /></section>
    <section class="lg:order-1"><TagsList listDirection="row" /></section>
    <section class="lg:order-4 lg:col-span-3"><Archive /></section>
    <section class="lg:order-3">About me</section>
  </main>
</Layout>
