---
import Archive from "../components/index/Archive.astro";
import Carousel from "../components/index/Carousel.astro";
import TagsList from "../components/index/TagsList.astro";
import Layout from "../layouts/Layout.astro";
import type MetaTags from "../util/MetaTags";

const metaTags: MetaTags = {
  description: "",
  keywords: [],
};
---

<Layout title="Mario's code chronicles" metaTags={metaTags}>
  <main class="flex flex-col items-center gap-5 p-4">
    <Carousel />

    <div class="grid md:grid-cols-[1fr_5fr] gap-2">
      <section><TagsList listDirection="row" /></section>
      <section><Archive /></section>
    </div>
    <h2>archive pages</h2>
  </main>
</Layout>
