---
import Archive from "../components/index/Archive.astro";
import Carousel from "../components/index/Carousel.astro";
import TagsList from "../components/index/TagsList.astro";
import Layout from "../layouts/Layout.astro";
import type MetaTags from "../util/MetaTags";

const metaTags: MetaTags = {
  description: "",
  keywords: [],
};
---

<Layout title="Mario's code chronicles" metaTags={metaTags}>
  <main>
    <h2>Latest posts</h2>
    <Carousel />

    <h2>Tags list</h2>
    <TagsList />
    <h2>post archive</h2>
    <Archive />

    <h2>archive pages</h2>
  </main>
</Layout>

<style>
  main {
    text-align: center;
    > * {
      width: 100%;
    }
  }
</style>
