---
import type { MarkdownInstance } from "astro";
import type { PostFrontmatter } from "../pages/posts/PostFrontmatter";
import PostCard from "./PostCard.astro";

type Props = {
  posts: MarkdownInstance<PostFrontmatter>[];
};

const { posts } = Astro.props;
---

<ul class="p-0 list-none flex justify-center flex-wrap gap-5">
  {
    posts.map((i) => (
      <li class="fit-content">
        <PostCard post={i} />
      </li>
    ))
  }
</ul>
