---
const { name } = Astro.props;
---

<a href={`tags/${name}`}>
  {name}
</a>

<style>
  a {
    color: #f1f1f1;
    background-color: var(--primary);
    padding: 0.3vh 0.7vw 0.3vh 0.7vw;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
</style>
