---
import Tag from "../Tag.astro";

type Props = {
  listDirection: "row" | "row-reverse" | "col" | "col-reverse";
  //listDirection2: "row" | "row-reverse" | "column" | "column-reverse";
};

const posts = await Astro.glob("../../pages/posts/*.md");
const tags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];
const { listDirection } = Astro.props;
---

<ul
  class=`p-0 flex flex-wrap gap-1 flex-${listDirection} justify-center bg-white bg-opacity-50 shadow-lg p-2 rounded-md`
>
  {
    tags.map((tag) => (
      <li>
        <Tag name={tag} />
      </li>
    ))
  }
</ul>

<style>
  ul {
  }
</style>
