---
import { ViewTransitions } from "astro:transitions";
import type MetaTags from "../util/MetaTags";

interface Props {
  title: string;
  metaTags: MetaTags;
}

const { title, metaTags } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Blog/favicon.svg" />
    <!-- Meta tags -->
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={metaTags.title || title} />
    <meta name="description" content={metaTags.description} />
    <meta name="keywords" content={metaTags.keywords.join(",")} />
    <meta name="robots" content={metaTags.robots || "index, follow"} />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content={metaTags.language || "English"} />
    <meta name="author" content={metaTags.author || "Kingomac"} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={metaTags.ogType || "website"} />
    <meta property="og:url" content={metaTags.ogUrl || Astro.request.url} />
    <meta property="og:title" content={metaTags.ogTitle || title} />
    <meta
      property="og:description"
      content={metaTags.ogDescription || metaTags.description}
    />
    <meta property="og:image" content={metaTags.ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content={metaTags.xUrl || metaTags.ogUrl || Astro.request.url}
    />
    <meta
      property="twitter:title"
      content={metaTags.xTitle || metaTags.ogTitle || title}
    />
    <meta
      property="twitter:description"
      content={metaTags.xDescription ||
        metaTags.ogDescription ||
        metaTags.description}
    />
    <meta
      property="twitter:image"
      content={metaTags.xImage || metaTags.ogImage}
    />

    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body class="bg-gradient-to-b from-teal-900 via-emeral-300 to-slate-100">
    <header
      transition:persist
      class="bg-black bg-opacity-40 text-white p-3 text-4xl font-bold"
    >
      <h1 class="text-center"><a href="/Blog/">Mario's code chronicles</a></h1>
    </header>
    <slot />
  </body>
</html>
